
body {
  background-color: #E8ECEF;
}

i {
  color: #EBD82F;
}
.navbar {
  margin-top: 15px;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  border-radius: 5px;
  font-size: 2rem;
  color: #fff;
  background-color: #282929;
}

.wrapper-container {
  margin-top: 8vh;
}

.main-container {
  height: 100vh;
  padding: 0 60px 70px;
}

.jumbotron {
  background-color: transparent;
}

.btn {
  margin-top: 15px;
}

.btn-block  {
  margin: 0;
}